/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed black;
  outline-offset: 4px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #f1f4ff;
  color: #000;
}

img {
  min-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.intro-2-1 {
  padding-top: 80px;
  padding-bottom: 80px;
  
  
}

.intro-info {
  width: 100%;
  max-width: 570px;
  margin: 0px;
  margin-right: 12px;
  padding: 0;
  border-radius: 20px;
  color: #fff;
  background: url(../img/matrix-backgraund.jpg) no-repeat center center;
}

.intro-info-content {
  width: 100%;
  max-width: 390px;
  margin: 0px 0px 203px 60px;
  padding-top: 55px;
}

.intro-info-content-header {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 41px;
  padding: 5px 15px;
  margin: 0px 0px 60px;
}

.intro-info-content-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  margin: 0px 0px 25px;
}

.intro-info-content-text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.subscription-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  padding: 29px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #4dc490;
}

.subscription-price-link:focus {
  outline: 2px dashed white;
  outline-offset: 4px;
}

.subscription-price-link {
  color: #fff;
  text-decoration: none;
}

.subscription-price-link-item-bold {
  font-weight: 700;
}

.intro-registration-department {
  width: 100%;
  max-width: 570px;
  padding: 55px 60px 40px;
  border-radius: 20px;
  background-color: #fff;
}

.intro-registration-department-title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  margin: 0px 0px 79px;
}

.registration-form {
  margin-bottom: 8px;
}

.registration-form-input {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #555;
  margin: 0;
  padding: 0px 0px 11px;
  border: none;
  border-bottom: 1px solid #000;
}

.registration-form-input:not(:last-child){
  margin-bottom: 35px;
}

.registration-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  padding: 20px;
  margin-top: 33px;
  border: none;
  border-radius: 10px;
  background-color: #655af2;
}

.contract {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 15px;
}

.contract-link-item {
  color: #f03535;
  text-decoration: none;
}

